* {
  margin: 0;
  padding: 0;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 5%;
  background-color: rgb(209, 212, 214);
}

.list {
  border: 1px solid lightgrey;
  margin: 8px;
  background-color: rgb(228, 224, 224);
  width: 220px;
  display: inline-block;
  vertical-align: top;
}

.task {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 3px 5px;
  margin-bottom: 8px;
  padding: 3px 5px;
  background-color: white;
  display: flex;
  gap: 2px;
}
.task p {
  font-size: small;
}

.welcome {
  font-weight: 600;
}

.list-title {
  text-align: center;
  padding: 4px 0px;
  font-size: medium;
  font-weight: 500;
  background-color: rgb(203, 204, 205);
}
.list {
  border: 0.1px solid rgb(140, 138, 138);
  box-shadow: 0px 5px 5px 1px rgb(167, 166, 166);
}
.list-Container {
  margin-top: 10px;
}

.board {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
